<div class="mainideas container col">
  <h2>Posts</h2>
  <!-- Loop over each object in the proposals array  -->
  {{#each posts as |post|}}
      <div class="card post">
        <div class="card-header">
          <a href="/post/{{post.id}}"><h3>{{post.title}}</h3></a>
        </div>
        <div class="card-body">
          <p>{{post.postText}}</p>
        </div>
        <div class="row card-footer">

          <span class="upVotes">{{post.upVotes}}<button class="btn btn-success btn-sm" id="up{{post.id}}">yay!</button></span>
          <span class="dnVotes">{{post.downVotes}}<button class="btn btn-danger btn-sm" id="dn{{post.id}}">boo!</button></span>
          <p>posted by user id: {{post.user_id}} on {{format_date post.date_created}}</p>
        </div>
      </div>

  {{/each}}
</div>



<div class="row">
  <a href="/create-post" class="buttonstyle btn-primary btn-lg" id="create-post">Create Post</a>
</div>
