<div class="mainideas container col">
  <h2>Posts</h2>
  <!-- Loop over each object in the proposals array  -->
  {{#each posts as |post|}}
      <div class="card post">
        <div class="card-header">
          <a href="/post/{{post.id}}"></a><h3>{{post.title}}</h3></a>
        </div>
        <div class="card-body">
          <p>{{post.postText}}</p>
        </div>
        <div class="card-footer">
          <p>posted by: {{post.user_id user.name}} on {{format_date post.date_created}}</p>
          <span class="upVotes">{{post.upVotes}}<button class="btn btn-primary" id="up{{post.id}}">Upvote</button></span>
          <span class="dnVotes">{{post.downVotes}}<button class="btn btn-primary" id="dn{{post.id}}">Upvote</button></span>
        </div>
      </div>

  {{/each}}
</div>



<div>
  <a href="/create-pos" class="buttonstyle" id="create-post">Create Post</a>
</div>
