
<div class="col-12 mainideas" height="400">
  <table>
    <tr>
      <td scope="col" class="col-8 sm-8 md-8">
        <h2>Results:</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col" class="col-1 sm-2 md-1">ID</th>
        <th scope="col"class="col-8 sm-5 md-8 ">Proposal</th>
        <th scope="col" class="col-1 sm-1 md-1">Votes</th>
        <th scope="col" class="col-2 sm-1 md-2"></th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop over each object in the proposals array  -->
      {{#each proposals as |proposal|}}
      <tr>
        <td id="{{proposal.id}}">{{proposal.id}}</td>
        <td id="p{{proposal.id}}">{{proposal.proposal}}</td>
        <td id="pv{{proposal.id}}">{{proposal.prop_votes}}</td>
        <td>
          {{#times proposal.prop_votes}}

          {{/times}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>
</td><td  scope="col" class="col-4 sm-4 md-4">

<div id="chartHolder" height="400">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
</row>
</td>
    </tr>
  </table>
<script src="../js/chart.js"></script>


